*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

body{
    background-color: #031413;
}

nav{
    width: 100%;
    height: 83px;
    background-color: #031413;
    border-bottom: 1px solid #ffffff4d;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }

.logo img{
    width: 70px;
}

.links{
    display: flex;
    gap: 250px;
    align-items: center;
    a{
        color: #BFC6CC;
        text-decoration: none;
        font-size: 20px;
    }
}

.content{
    width: 100%; 
    background-color: #031413;
    height: max-content;
    padding-top: 50px;
    h1{
        font-size: 45px;
        font-weight: 700;
        color: white;
        padding-bottom: 3%;
        padding-left: 7%;
    }
    p{
        color: white;
        font-size: 21px;
        padding-bottom: 3%;
        padding-left: 7%;
    }
}

main{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}



header{
    width: 100%;
    height: 10vh;
    background-color: #031413;
    
    .card{
        width: 240px;
        background-color: #161b1b;
        color: white;
        border-radius: 30px;
        position: relative;
        margin: 50px 0;
        box-shadow: 0px 10px 15px -3px  rgba(0,0,0,0.1);
        

        img{
            width: 100%;
            padding: 8%;
            border-radius: 30px;
        }
        h3{
            font-weight:700 ;
            font-size: 35px;
            padding-left: 15px;
        }
        p{
            padding-left: 15px;
            padding-top: 10px;
            font-size: 17px;
            padding-bottom: 8%;
            color: #b5b5b5;
        }
        b{
            padding-left: 15px;
            font-size: 35px;
            padding-top: 10px;
           
        }
        button{
            border-radius: 5px;
            font-weight: 400;
            margin-left: 5%;
            border: none;
            width: 230px;
            height: 40px;
            margin-right: 3%;

            
        }
    }
}
a{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 150px;
  text-decoration:none ;
    padding-top: 3%;
    color: #5de8dc;
    font-size: clamp(1.25rem, 1.065rem + 0.93vw, 1.875rem);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    line-height: 32px;

}
section{
    width: 100%;
    height: 100vh;
    background-color: #031413;
   
}

.fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding-left: 30px;

}


html{
    scroll-behavior: smooth;} 
